<h1>Dashboard</h1>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    General Stats
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">There are <strong><%= @product_count %></strong> <%= link_to 'products', [:admin, :products] %> in the database.</li>
    <li class="list-group-item">There are <strong><%= @category_count %></strong> product categories in the database.</li>
  </ul>
</div>

