<section class="cart-show">

<%= render 'header' %>

  <div class="alert alert-warning" role="alert">
  Uh-oh! Your cart is empty. Go back to the <%= link_to 'home page', :root %> to resume shopping.
  </div>



</section>
