<section class="products-index">

  <header class="page-header">
    <h1>About us</h1>
  </header>

  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis massa lectus, vel tristique ligula semper eget. Nam pretium, nunc sit amet ullamcorper sollicitudin, quam nisi consequat tortor, vel consequat augue leo vel leo. Aenean non malesuada lorem. Mauris quis venenatis turpis, eget porta nibh. Praesent ut finibus elit, quis tempor libero. Duis sit amet rhoncus enim. Proin nisl neque, mattis et placerat in, venenatis eget tortor. 
    </p>
    <h2>Team</h2>
    <p>
      Sed pellentesque vel libero in auctor. Aliquam interdum arcu est, ac finibus ligula consequat in. Phasellus sit amet semper nisi, in mollis nulla. Fusce consequat quis arcu at tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis in aliquet mauris. Duis convallis fermentum tortor blandit aliquet. Proin id erat auctor, pharetra quam nec, varius magna. Sed tempus viverra ante at tempor. Quisque cursus aliquet mauris, nec blandit nulla bibendum sed.
    </p>
    <h2>History</h2>
    <p>
      Donec quis ultrices neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris tincidunt dolor consequat neque fermentum, eu maximus dui tincidunt. Quisque nec lorem tincidunt, vehicula diam non, lacinia quam. Vivamus vulputate lacus ipsum, in eleifend neque accumsan ac. Maecenas scelerisque eget sapien tincidunt sagittis. Sed at metus ipsum.
    </p>
    <h4>Contact Us</h4>
        We will be glad to hear from you, email us at <a href="mailto:inquiries@jungle.shop">inquiries@jungle.shop</a>
  </div>

</section>